
body{
  background-image: linear-gradient(to right, #BA55D3 , #B0E0E6);

}
.container{
  text-align: center;
}
.well{
  border-radius: 40px;
  width: 1200px;
  height:160px;
  font-size: 25px;
  font-style: italic;
  font-family: 'Mogra', cursive;
  }
#head{
  font-family: 'Bangers', cursive;
  font-size:60px;
  font-style: normal;
}
#form2{
  width: 600px;
  height:600px;
  display: block;
  border-style: solid;
  border-width: small;
  margin-left: auto;
  margin-right: auto;
  border-radius:40px;
  background-color: white;
  display:none;
}
#form1{
  width: 600px;
  height: 570px;
  display: block;
  border-style: solid;
  border-width: small;
  margin-left: auto;
  margin-right: auto;
  border-radius: 40px;
  background-color: white;
}
#form3{
    width: 600px;
    height: 570px;
    display: block;
    border-style: solid;
    border-width: small;
    margin-left: auto;
    margin-right: auto;
    border-radius: 40px;
    background-color: white;
    display: none;
}

h3{
  font-family: 'Amaranth', sans-serif;
}
button{
  width:80px;
  height: 25px;
  border-radius: 15px;
  background-color: #00FF7F;
  color: black;
  font-weight: bolder;

}
#comments {
  -webkit-animation-duration: 4s;
  /* -webkit-animation-delay: 1000ms; */
  -webkit-animation-iteration-count: infinite;
}
